body {
  background-color: #EEEEEE;
  font-family: $main-font;
}

.header {
  text-decoration: none;

}

.main-title {
  color: black;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
  @media screen and (min-width: 400px) {
    margin-left: 10px;
    text-align: left;
    width: 250px;
    &:hover {
     font-weight: 700;
    }
  }
}

.header-stripe {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  @media screen and (min-width: 400px) {
    height: 50px;

  }

  .header-text-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
}

.forecast-current {
  color: white;
  display: flex;

}

.weather-button {
  display: flex;
  height: 20px;
  width: 140px;
  margin-left: auto;
  text-align: center;

}

.forecast-extended {
  color: #89CB89;
  display: flex;
  margin-left: auto;
  text-decoration: none;
  &:hover {
   font-weight: 700;
  }
}

.edit-cities {
  color: black;
  text-decoration: none;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  &:hover {
   font-weight: 700;
  }
}
