.pinned-cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-card {
  background-color: #D5E9F3;
  border: 1px solid #3A7A99;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  // justify-content: center;
}

.city-title {
  margin-top: 20px;
  text-align: center;
}

.city-list {
  justify-content: center;
  margin-top: 10px;
}

.city-li {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.pinned-forecast-extended {
  color: black;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  &:hover {
   font-weight: 700;
  }
}

.pinned-link {
  color: black;
  text-decoration: none;
}

.pin-card {
  background-color: #DDDDDD;
  border: 1px solid #CACACA;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.pin-title {
  font-size: 2em;
  text-align: center;
}
